{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'gift-card/css/style.css' %}">
    <style>
        h1 {
            text-align: center;
        }
        span {
            font-size: 150px;
        }
        .container{
            min-width: 22em;
        }
    </style>
    <title>status 404</title>
</head>
<body>
    <div class="container">
        <h1><span>404</span><br> Страница не найдена</h1>

    </div>
</body>
</html>