{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'gift-card/img/card-send.svg' %}" type="image/svg+xml">
    <link rel="stylesheet" href="{% static 'gift-card/css/style.css' %}">
    <title>Title</title>
</head>
<body>
    <div class="container gift-card">


        <a class="lf--submit exit" href="{% url 'logout' %}">ВЫХОД</a>

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <div class="container-input">
            <h1 class="last"> {{user.username}} </h1>
            <hr>

            <h3>Введите номер карты</h3>

            <form method="post">
                {% csrf_token %}
            {{ form.number.errors }}
            <div class="flex-row">
                <label class="lf--label" for="id_number">
                    <img src="{%  static 'gift-card/img/card-send.svg' %}" alt="SVG Image">
                </label>
                    {{ form.number }}
            </div>
            <input class='lf--submit submit' type='submit' value='ОТПРАВИТЬ'>


            </form>
            <p class='lf--forgot' >Всего карт в магазине: {{ count_card }} шт.</p>
        </div>

    </div>
<script>
    const messagesElement = document.querySelector('.messages');
    const inputElement = document.getElementById('id_number');

    // Добавляем обработчик события focus на окно ввода
    inputElement.addEventListener('focus', () => {
        // Скрываем элемент сообщений
        messagesElement.style.display = 'none';
    });

</script>

</body>
</html>